@charset "UTF-8";

/* -----------------------------image----------------------------------- */

.jumbotron {
  background-image: url(../image/search_meat.jpg);
  background-size: cover;
}
/* .box {
  position: relative;
}
.box p {
  position: absolute;
  font-family: bold;
  font-size: 2em;
  color: azure;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-60%);
  -webkit-transform: translate(-50%,-60%);
  transform: translate(-50%,-100%);
}
.img-fluid {
  max-width: none;
  width: 100%;
} */
/* -----------------------------button----------------------------------- */

/* .btn {
  margin: 10px 0px;
}
.btn-primary {
  color: #fff;
  background-color: #6A040F;
  border-color: #6A040F;#333
}
.btn-primary:hover {
  color: #fff;
  background-color: #6a040e94;
  border-color: #6a040e94;
}
.btn-outline-primary {
  color: #6A040F;
  border-color: #6A040F;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #6a040e94;
  border-color: #6a040e94;
} */

/* --------------------------card-------------------------------------- */
/* #carousel-card .carousel-control-next,
#carousel-card .carousel-control-prev {
  width: 3%;
  background-color: #333;
}
.card-img-top {
max-width: 100%;
flex-shrink:0;
 }
 .card-text {
   font-size: 0.1rem;
 }
 .col-6 {
   padding: 0 5px;
 }

/* 通常のボタン色 */
/* .btn-success,
.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #6A040F;
  border-color: #6A040F;
} */

/* focusされた時の枠線の色 */
/* .btn-success:focus, .btn-success.focus,
.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(110, 3, 27, 0.5);
} */

/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定）*/
/* .btn-success:hover {
  color: #fff;
  background-color: #6a040e94;
  border-color: #6a040e94;
} */

/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
/* .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #6A040F;
  border-color: #6A040F;
} */ 